#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export CARGO_BUILD_JOBS = $(shell nproc)

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_test:
	cargo test --locked

override_dh_auto_install:
	install -D -m0755 target/release/dqlite-utils debian/dqlite-utils/usr/bin/dqlite-utils
	install -D -m0644 README.md debian/dqlite-utils/usr/share/doc/dqlite-utils/README.md

override_dh_auto_clean:
	cargo clean
